<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Study_JavaEE</display-name>
  <servlet>
    <servlet-name>A01_Serverlt</servlet-name>
    <servlet-class>javaee04_Servlet.A01_Serverlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A01_Serverlt</servlet-name>
    <url-pattern>/helloworld</url-pattern>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>A02_GenericServlet</servlet-name>
    <servlet-class>javaee04_Servlet.A02_GenericServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A02_GenericServlet</servlet-name>
    <url-pattern>/genericServlet</url-pattern>
    <url-pattern>*.asp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>A03_HttpServlet</servlet-name>
    <servlet-class>javaee04_Servlet.A03_HttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>A03_HttpServlet</servlet-name>
    <url-pattern>/httpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>B01_生命周期</servlet-name>
    <servlet-class>javaee04_Servlet.B01_生命周期</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>B01_生命周期</servlet-name>
    <url-pattern>/smzq</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C01_ServletConfig</servlet-name>
    <servlet-class>javaee04_Servlet.C01_ServletConfig</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>GBK</param-value>
    </init-param>
    <init-param>
      <param-name>tel</param-name>
      <param-value>1363233****</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>C01_ServletConfig</servlet-name>
    <url-pattern>/servletConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>C02_ServletContext</servlet-name>
    <servlet-class>javaee04_Servlet.C02_ServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>C02_ServletContext</servlet-name>
    <url-pattern>/servletContext</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>email</param-name>
    <param-value>runsin0723@163.com</param-value>
  </context-param>
  <servlet>
    <servlet-name>D01_Request</servlet-name>
    <servlet-class>javaee04_Servlet.D01_Request</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D01_Request</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>D02_Request乱码</servlet-name>
    <servlet-class>javaee04_Servlet.D02_Request乱码</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>D02_Request乱码</servlet-name>
    <url-pattern>/luanma</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E01_Response</servlet-name>
    <servlet-class>javaee04_Servlet.E01_Response</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E01_Response</servlet-name>
    <url-pattern>/response</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E02_Response下载</servlet-name>
    <servlet-class>javaee04_Servlet.E02_Response下载</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E02_Response下载</servlet-name>
    <url-pattern>/responseDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>E03_转发和重定向</servlet-name>
    <servlet-class>javaee04_Servlet.E03_转发和重定向</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>E03_转发和重定向</servlet-name>
    <url-pattern>/cdx</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>F01_Cookie</servlet-name>
    <servlet-class>javaee04_Servlet.F01_Cookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>F01_Cookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/javaee05_jsp/01_ZhiLing/a_page_01.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.NumberFormatException</exception-type>
    <location>/javaee05_jsp/01_ZhiLing/a_page_01.jsp</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>